<%- include(head); %>
<%- include(navbar); %>
<%- include(slidebar); %>


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-plugin icon-gradient bg-sunny-morning"></i>
                    </div>
                    <div> Packet Management </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div> <!-- ./ app-main -->
</div> <!-- ./ app-container -->

<%- include(footer); %>
<%- include(script); %>