<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-right">
                &copy; 2020 knacx corporation limited
            </div>
        </div>
    </div>
</div>