<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/icon" href="https://nodejs.org/static/images/favicons/favicon-32x32.png" />


    <title><%- title %></title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Application CSS Files -->
    <% cssFiles.forEach((cssFile) => { %>
    <link rel="stylesheet" href="<%= cssFile %>" />
    <% }); %>

</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">