<div class="box-demand-pagination">
    <nav aria-label="navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1">
                    < ย้อนกลับ</a> </li> <li class="page-item active"><a class="page-link">1</a>
            </li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link">ถัดไป ></a>
            </li>
        </ul>
    </nav>
</div>