</main>
<div id="box-modal"></div>
<!--DRAWER END-->
<!--SCRIPTS INCLUDES-->
<% jsFiles.forEach((jsFile) => { %>
<script type="text/javascript" src="<%= jsFile %>"></script>
<% }); %>
</body>

</html>