<%- include(head); %>
<%- include(slidebar); %>

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-3">
                                <img width="68" class="rounded" src="/images/avatar/5.jpg" alt="">
                            </div>
                            <div class="widget-content-left">
                                <h4 class="timeline-title">
                                    <%- _.manage.position.form.new_position %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="<%- path.split('?')[0] %>" method="POST" id="form-submit">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-header"><%- _.manage.position.form.position_info %></div>
                        <div class="card-body">
                            <!-- position_name -->
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label
                                            for="position_name_th"><%- _.manage.position.form.position_name_th %></label>
                                        <input name="position_name_th" id="position_name_th" type="text" minlength="4"
                                            maxlength="50" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label
                                            for="position_name_en"><%- _.manage.position.form.position_name_en %></label>
                                        <input name="position_name_en" id="position_name_en" type="text" minlength="4"
                                            maxlength="50" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="clearfix">
                                <button type="submit" id="btn-submit"
                                    class="btn-icon btn-shadow float-right btn-wide mr-3 btn btn-outline-success">
                                    <i class="pe-7s-check btn-icon-wrapper"> </i><%- _.manage.position.btn.create %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%- include(footer); %>
</div>
<%- include(script); %>