<%- include(head); %>
<%- include(slidebar); %>

<div class="app-main__outer">
    <div class="app-main__inner">
        <%- include(header); %>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="table-list" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th><%- _.manage.position.table.position_name_th %></th>
                            <th><%- _.manage.position.table.position_name_en %></th>
                            <th><%- _.manage.position.table.updateby %></th>
                            <th><%- _.manage.position.table.last_update %></th>
                            <th><%- _.manage.position.table.options %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% position.forEach((pos, index) => { %>
                        <tr class="text-center">
                            <td><%- index + 1 %></td>
                            <td><%- pos.position_name_th %></td>
                            <td><%- pos.position_name_en %></td>
                            <td><%- pos.updateby %></td>
                            <td><%- pos.updatedatetime %></td>
                            <td>
                                <a href="<%- path + '/' + pos.position_id %>?action=update" data-placement="top"
                                    data-toggle="tooltip-light" title="Editing a position"
                                    class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn btn-outline-focus td-icon">
                                    <i class="pe-7s-tools btn-icon-wrapper"> </i>
                                </a>
                                <a href="javascript:app.confirm('you sure you want to delete this?', 'delete', '<%- path + '/' + pos.position_id %>')"
                                    data-placement="top" data-toggle="tooltip-light" title="Delete a position"
                                    class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn btn-outline-danger td-icon">
                                    <i class="pe-7s-trash btn-icon-wrapper"> </i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include(footer); %>
</div>
<%- include(script); %>
<script></script>