<%- include(head); %>
<%- include(navbar); %>
<%- include(slidebar); %>


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="lnr-user icon-gradient bg-sunny-morning"></i>
                    </div>
                    <div> Employees </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>phone</th>
                            <th>email</th>
                            <th>Last Login</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% employess.forEach((cus, index) => { %>
                        <tr>
                            <td><%- cus.fullname %></td>
                            <td><%- cus.phone %></td>
                            <td><%- cus.email %></td>
                            <td><%- cus.last_login %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>




    </div>
</div>
</div> <!-- ./ app-main -->
</div> <!-- ./ app-container -->

<%- include(footer); %>
<%- include(script); %>