<%- include(head); %>
<%- include(navbar); %>
<%- include('./navbar'); %>
<%- include('./profile'); %>
<%- include('./tab'); %>
<section class="content-patient">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-11">
                <div class="card-message-patient">
                    <p class="number-message">#3</p>
                    <p class="txt-message-card">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the
                        industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book. It has survived.</p>
                    <img src="/images/img_message_card.png" class="img-message-patient">
                    <img src="/images/img_message_card.png" class="img-message-patient">
                    <img src="/images/img_message_card.png" class="img-message-patient">
                    <p class="txt-date-message">19/01/2563</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include(script); %>