<section class="navigation-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="/" class="btn btn-back"><img src="/images/back.png"> หน้าแรก</a>
            </div>
        </div>
    </div>
</section>