<section class="pt-2 pt-md-4 pt-lg-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-11">
                <div class="row">
                    <div class="col-12 col-md-9 col-lg-9 order-1 order-md-0">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4 mb-3">
                                <img src="<%- patient.profile_image %>" class="img-patient-profile">
                            </div>
                            <div
                                class="col-12 col-md-8 col-lg-8 mb-3 d-lg-flex flex-lg-column justify-content-lg-center">
                                <p class="txt-name-patient"><%- patient.firstname %> <%- patient.lastname %></p>
                                <p class="txt-detail-patient">HN 12-11-447181 | DOB 11/06/2539</p>
                                <p class="txt-detail-patient">แพทย์ประจำตัว : นายแพทย์ สมคิด หวังดี</p>
                                <p class="txt-detail-patient2">ค่าใช้จ่ายปัจจุบัน <span>290,890</span> บาท</p>
                                <p class="txt-detail-patient2">ประเมินค่าใช้จ่าย <span>290,890</span> บาท <button
                                        class="btn btn-edit-txt"><img src="/images/btn-edit-txt.png"></button></p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-md-3 col-lg-3 order-0 order-md-1 text-center mb-3 d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-center">
                        <p class="txt-room-patient">
                            <%- patient.room_number %>
                        </p>
                        <button class="btn btn-create-link">สร้างลิงค์</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>