<%- include(head); %>
<%- include(navbar); %>
<%- include('./navbar'); %>
<%- include('./profile'); %>
<%- include('./tab'); %>
<section class="content-patient">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-11">
                <div class="box-demand">
                    <div class="box-demand-list">
                        <div class="list-demand row">
                            <div class="col-12 col-md-12 col-lg-8 d-flex flex-row flex-wrap align-content-center px-0">
                                <div class="demand-icon">
                                    <img src="<%- icon.hungry.green %>" class="img-demand-icon">
                                </div>
                                <div class="demand-status">
                                    <p class="txt-status-demand demand-green">หิว</p> <!-- yellow, red -->
                                    <p class="txt-time-demand">17/01/2563 3 นาที</p>
                                </div>
                            </div>
                            <div
                                class="col-12 col-md-12 col-lg-4 d-flex flex-row flex-wrap align-content-center justify-content-center px-0">
                                <div class="demand-action">
                                    <a href="javascript:receive()" class="btn btn-demand btn-demand-accept">รับงาน</a>
                                    <a href="javascript:done()" class="btn btn-demand btn-demand-close">ปิดงาน</a>
                                </div>
                            </div>
                        </div>
                        <div class="list-demand row">
                            <div class="col-12 col-md-12 col-lg-8 d-flex flex-row flex-wrap align-content-center px-0">
                                <div class="demand-icon">
                                    <img src="<%- icon.hungry.green %>" class="img-demand-icon">
                                </div>
                                <div class="demand-status">
                                    <p class="txt-status-demand demand-green">หิว</p>
                                    <p class="txt-time-demand">17/01/2563 3 นาที</p>
                                </div>
                            </div>
                            <div
                                class="col-12 col-md-12 col-lg-4 d-flex flex-row flex-wrap align-content-center justify-content-center px-0">
                                <div class="demand-action">
                                    <p class="txt-close">ปิดงานแล้ว</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include(pagination); %>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include(script); %>
<script type="text/javascript">
    const receive = () => {
        const url = ``
        app.confirm('ต้องการดำเนินการ?', 'ดำเนินการเรียบร้อยแล้ว', 'update', url)
    }
    const done = () => {
        const url = ``
        app.confirm('ยืนยันการปิดงาน?', 'ปิดงานเรียบร้อยแล้ว', 'update', url)
    }
</script>