<section class="section-tabs-patient">
    <ul class="nav nav-justified tabs-patient">
        <% tab.forEach((item) => { %>
        <li class="nav-item">
            <a class="nav-link <%- user.route == item.route ? 'active' : '' %>"
                href="<%- item.url.replace('##-##-######', patient.hn_number) %>">
                <img src="<%- item.icon %>">
                <p class=""><%- item.name %></p>
                <hr class="hr-nav-link">
                <% if(item.badge){ %>
                <div class="noti-nav-link">
                    <%- item.badge %>
                </div>
                <% } %>
            </a>
        </li>
        <% }) %>
    </ul>
</section>