<%- include(head); %>
<%- include(navbar); %>
<%- include(slidebar); %>


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-science icon-gradient bg-sunny-morning"></i>
                    </div>
                    <div> Score </div>
                </div>
            </div>
        </div>


        <div class="card-shadow-primary card-border mb-3 profile-responsive-sm card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-vicious-stance">
                    <div class="menu-header-image opacity-1"
                        style="background-image: url('./images/dropdown-header/abstract1.jpg');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded-circle"><img src="./images/avatars/1.jpg" alt="Avatar 5">
                            </div>
                        </div>
                        <div>
                            <h5 class="menu-header-title">Ruben Tillman</h5>
                            <h6 class="menu-header-subtitle">Etiam sit amet orci eget</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-animation">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                        Score
                    </div>
                </div>
                <div class="no-gutters row">
                    <div class="col-sm-6 col-md-4 col-xl-4">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                                <i class="lnr-laptop-phone text-dark opacity-8"></i>
                            </div>
                            <div class="widget-chart-content">
                                <div class="widget-subheading">รายวัน</div>
                                <div class="widget-numbers">1,7M</div>
                                <div class="widget-description opacity-8 text-focus">
                                    <div class="d-inline text-danger pr-1">
                                        <i class="fa fa-angle-down"></i>
                                        <span class="pl-1">54.1%</span>
                                    </div>
                                    less earnings
                                </div>
                            </div>
                        </div>
                        <div class="divider m-0 d-md-none d-sm-block"></div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-4">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
                                <i class="lnr-graduation-hat text-white"></i>
                            </div>
                            <div class="widget-chart-content">
                                <div class="widget-subheading">รายเดือน</div>
                                <div class="widget-numbers"><span>9M</span></div>
                                <div class="widget-description opacity-8 text-focus">
                                    Grow Rate:
                                    <span class="text-info pl-1">
                                        <i class="fa fa-angle-down"></i>
                                        <span class="pl-1">14.1%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="divider m-0 d-md-none d-sm-block"></div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-4">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-success"></div>
                                <i class="lnr-apartment text-white"></i>
                            </div>
                            <div class="widget-chart-content">
                                <div class="widget-subheading">ทั้งหมด</div>
                                <div class="widget-numbers text-success"><span>$563</span></div>
                                <div class="widget-description text-focus">
                                    Increased by
                                    <span class="text-warning pl-1">
                                        <i class="fa fa-angle-up"></i>
                                        <span class="pl-1">7.35%</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div> <!-- ./ app-main -->
</div> <!-- ./ app-container -->

<%- include(footer); %>
<%- include(script); %>