<%- include(head); %>
<%- include(navbar); %>
<%- include(slidebar); %>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/sample.js"></script>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-science icon-gradient bg-sunny-morning"></i>
                    </div>
                    <div> Health Contents </div>
                </div>
            </div>
        </div>

        <form action="/health/create" method="POST" id="form-submit" enctype="multipart/form-data">
            <!-- banner -->
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <label for="head mb-1"> Banner </label>
                    <div class="col-lg-12 col-md-12">
                        <div class="main-card card">
                            <div class="card-body align-items-center d-flex justify-content-center">
                                <img width="750" height="150" src="#" alt="" id="previewImg">
                            </div>
                            <input type="file" name="banner" id="my-file" style="display: none"
                                accept="image/jpeg, image/png">
                        </div>
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <a href="#" id="my-upload" class="btn-icon btn-shadow float-right btn-wide btn btn-primary">
                                file upload
                            </a>

                        </div>
                    </div>

                </div>
            </div>
            <!-- ./ banner -->

            <!-- contents -->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="titel_th"> Title(TH) <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" id="titel_th" name="titel_th" />
                            </div>
                            <div class="form-group">
                                <label for="topic_th">Topic(TH) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="topic_th" name="topic_th"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="highlights_th">Highlights(TH) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="highlights_th" name="highlights_th"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="health_content_th">Health content(TH) <span
                                        class="asterisk">*</span></label>
                                <textarea class="form-control" id="health_content_th"
                                    name="health_content_th"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="titel_en"> Title(EN) <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" id="titel_en" name="titel_en" />
                            </div>
                            <div class="form-group">
                                <label for="topic_en">Topic(EN) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="topic_en" name="topic_en"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="highlights_en">Highlights(EN) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="highlights_en" name="highlights_en"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="health_content_en">Health content(EN) <span
                                        class="asterisk">*</span></label>
                                <textarea class="form-control" id="health_content_en"
                                    name="health_content_en"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="titel_ara"> Title(ARA) <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" id="titel_ara" name="titel_ara" />
                            </div>
                            <div class="form-group">
                                <label for="topic_ara">Topic(ARA) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="topic_ara" name="topic_ara"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="highlights_ara">Highlights(ARA) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="highlights_ara" name="highlights_ara"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="health_content_ara">Health content(ARA) <span
                                        class="asterisk">*</span></label>
                                <textarea class="form-control" id="health_content_ara"
                                    name="health_content_ara"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="titel_jp"> Title(JP) <span class="asterisk">*</span></label>
                                <input type="text" class="form-control" id="titel_jp" name="titel_jp" />
                            </div>
                            <div class="form-group">
                                <label for="topic_jp">Topic(JP) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="topic_jp" name="topic_jp"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="highlights_jp">Highlights(JP) <span class="asterisk">*</span></label>
                                <textarea class="form-control" id="highlights_jp" name="highlights_jp"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="health_content_jp">Health content(JP) <span
                                        class="asterisk">*</span></label>
                                <textarea class="form-control" id="health_content_jp"
                                    name="health_content_jp"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ contents -->

            <div class="form-group align-items-center d-flex justify-content-center">
                <button type="submit" id="btn-submit" class="btn btn-success"> Create </button>
            </div>

        </form>
        <!-- ./ form -->
    </div>
</div>
</div> <!-- ./ app-main -->
</div> <!-- ./ app-container -->

<%- include(footer); %>
<%- include(script); %>

<script>

    topic_th();
    highlights_th();
    health_content_th();

    topic_en();
    highlights_en();
    health_content_en();

    topic_ara();
    highlights_ara();
    health_content_ara();

    topic_jp();
    highlights_jp();
    health_content_jp();



</script>

<script>

    $('#my-upload').click(function () {
        $('#my-file').click();
    });
    // Preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file").change(function () {
        readURL(this);
    });
</script>