<%- include(head); %>
<%- include(navbar); %>
<%- include(slidebar); %>


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-science icon-gradient bg-sunny-morning"></i>
                    </div>
                    <div> Health Contents </div>
                </div>
                <div class="page-title-actions">
                    <a href="/health/create" class="mb-2 mr-2 btn-icon btn btn-success">
                        <i class="pe-7s-plus btn-icon-wrapper">
                        </i>Create
                    </a>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Title(TH)</th>
                            <th>Title(EN)</th>
                            <th>Title(ARA)</th>
                            <th>Title(JP)</th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>

                        <% health.forEach((hea, index) => { %>
                        <tr>
                            <td><%- hea.titel_th %></td>
                            <td><%- hea.titel_en %></td>
                            <td><%- hea.titel_ara %></td>
                            <td><%- hea.titel_jp %></td>
                            <td>

                                <a href="/health/<%- hea.health_content_id %>"
                                    class="mb-2 mr-2 btn-icon btn-icon-only btn btn-warning">
                                    <i class="lnr-eye btn-icon-wrapper"> </i>
                                </a>

                                <a href="/health/<%- hea.health_content_id %>?action=update"
                                    class="mb-2 mr-2 btn-icon btn-icon-only btn btn-primary">
                                    <i class="pe-7s-tools btn-icon-wrapper"> </i>
                                </a>

                                <a href="javascript:app.confirm('', 'delete', '/health/<%- hea.health_content_id %>')"
                                    class="mb-2 mr-2 btn-icon btn-icon-only btn btn-danger">
                                    <i class="pe-7s-trash btn-icon-wrapper"> </i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div> <!-- ./ app-main -->
</div> <!-- ./ app-container -->

<%- include(footer); %>
<%- include(script); %>