<%- include(head); %>
<%- include(navbar); %>
<%- include(slidebar); %>


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-plugin icon-gradient bg-sunny-morning"></i>
                    </div>
                    <div> Going Home </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Ward</th>
                            <th>Head</th>
                            <th>Head</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>
                                <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success"><i
                                        class="pe-7s-plus btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>
                                <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success"><i
                                        class="pe-7s-plus btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>
                                <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success"><i
                                        class="pe-7s-plus btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>
                                <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success"><i
                                        class="pe-7s-plus btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Herrod Chandler</td>
                            <td>Sales Assistant</td>
                            <td>San Francisco</td>
                            <td>
                                <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success"><i
                                        class="pe-7s-plus btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Rhona Davidson</td>
                            <td>Integration Specialist</td>
                            <td>Tokyo</td>
                            <td>
                                <button class="mb-2 mr-2 btn-icon btn-icon-only btn btn-success"><i
                                        class="pe-7s-plus btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
</div> <!-- ./ app-main -->
</div> <!-- ./ app-container -->

<%- include(footer); %>
<%- include(script); %>