<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%- title %></title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/icon" href="https://nodejs.org/static/images/favicons/favicon-32x32.png" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Application CSS Files -->
    <% cssFiles.forEach((cssFile) => { %>
    <link rel="stylesheet" href="<%= cssFile %>" />
    <% }); %>

</head>

<body>
    <form action="/login" method="POST" id="form-login">
        <div class="app-container app-theme-white body-tabs-shadow">
            <div class="app-container">
                <div class="h-100 bg-plum-plate bg-animation">
                    <div class="d-flex h-100 justify-content-center align-items-center">
                        <div class="mx-auto app-login-box col-md-8">
                            <div class="app-logo-inverse mx-auto mb-3"></div>
                            <div class="modal-dialog w-100 mx-auto">
                                <div class="modal-content">
                                    <div class="card-header">
                                        <i class="header-icon pe-7s-lock icon-gradient bg-malibu-beach"> </i>
                                        <div class="h4 modal-title text-center">
                                            <div>Login</div>
                                        </div>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group"><label for="exampleEmail"
                                                        class="">Username</label><input name="username"
                                                        value="admin_snh@samitivej.co.th" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group"><label for="examplePassword"
                                                        class="">Password</label><input name="password" type="password"
                                                        value="snh@1234" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer clearfix"
                                        style="background-size: cover;background-image: url('/images/login_left_bg.png');">
                                        <div class="float-right">
                                            <button class="btn btn-primary btn-lg">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <!--SCRIPTS INCLUDES-->
    <% jsFiles.forEach((jsFile) => { %>
    <script type="text/javascript" src="<%= jsFile %>"></script>
    <% }); %>

    <script type="text/javascript">
        $('#form-login').submit(function () {
            $('#btn-login').button('loading');
            $('#form-login').ajaxSubmit(function (f) {
                if (f.code == 200)
                    window.location.reload();
                else
                    app.error(f.message)
                $('#btn-login').button('reset');
            });
            return false;
        });
    </script>
</body>

</html>